# Python
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*/*/*/__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
backend/venv/
venv/
ENV/

# Environment Variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Frontend
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/build/
frontend/dist/

# System Files
.DS_Store
Thumbs.db

# Log Files
*.log