APScheduler==3.11.0
deep_translator==1.11.4
flasgger==0.9.7.1
Flask==3.1.0
Flask_Cors==5.0.0
Flask_JWT_Extended==4.7.1
Flask_Limiter==3.9.2
flask_talisman==1.1.0
mongoengine==0.29.1
Pillow==11.0.0
python-dotenv==1.0.1
python-slugify==8.0.4
bcrypt==4.2.1
pytz==2024.2
Requests==2.32.3
Werkzeug==3.1.3

